<div class="page-header">
    <h2>User Edit</h2>
</div>        

<!-- User Panel -->


<form name="mainForm" class="form-horizontal" ng-submit="submitForm()">

    <div ng-messages="mainForm.inputuser.$error" class="alert alert-danger" ng-show="!mainForm.$pristine && mainForm.inputuser.$invalid">
        <div ng-message="required">User field is required!</div>
    </div>  
    <div class="alert alert-danger" ng-show="message">
        <div>{{message}}</div>
    </div>    
    
    <div class="form-group">
        <div class="col-xs-5">
            <label for="inputuser">User</label>
            <input name="inputuser" type="text" ng-model="user.user" class="form-control" required>
        </div>   
    </div>
    
    <div class="form-group">
        <div class="col-xs-2">
            <label for="inputrole">Role</label>
            <input name="inputrole" type="text" ng-model="user.role" class="form-control">
        </div>   
    </div>                                  

	<div class="btn-group">
    	<input type="submit" id="submit" ng-disabled="mainForm.$invalid" value="Save" class="btn btn-success" />  
    </div>	   
   	<div class="btn-group">
	   	<input type="button" ng-click="service.go('/userlist')"  class="btn btn-danger" value="Cancel" novalidade/>   
   	</div>
    	
</form>